---

---

<div class="claim">
    <h1 class="claim__title">Оставьте заявку на бесплатную консультацию</h1>
    <p class="claim__subtitle">
        Наш специалист перезвонит в течение 10 минут и поможет найти оптимальное решение.
    </p>
    <div class="claim__inner">
        <div class="claim__item">
            <input type="text" placeholder="Имя">
        </div>
        <div class="claim__item">
            <input type="tel" placeholder="+7 (___) ___ __-__">
        </div>
    
        <button class="claim__btn">Заказать звонок</button>
    </div>

    <label class="claim__checkbox">
        <input type="checkbox" class="check-box" checked />
        <span class="check-style">Я согласен на обработку моих персональных данных и с условиями политики конфиденциальности.</span>
    </label>
</div>

<style is:global lang="scss">
    /* Сброс стилей по умолчанию */
.check-box {
    appearance: none;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 16px;
    height: 16px;
}

/* Стиль для неактивного checkbox */
.check-box:not(:checked) {
    background-color: #fff;
}

/* Стиль для активного checkbox */
.check-box:checked {
    background-color: #C26733;
}
.check-style{
    color: #9C9C9C;
    
}
    .claim{
        background: url('img/Benefits.jpg');
        background-blend-mode: overlay;
        background-color:#1F0F06;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 40px;
        padding-right: 40px;
        &__checkbox{
            margin-top: 16px;
        }
        &__title{
            color: #FFFFFF;
            margin-bottom: 24px;
            font-size: 44px;
            color:#FFFFFF;
            font-weight: 800;
            text-align: center;
            width: 75%;
            line-height: 50px;
            margin: 0 auto;
        }
        &__subtitle{
            font-size: 18px;
            margin-top: 24px;
            font-weight: 400;
            text-align: center;
            margin-bottom: 48px;
            color: white;
        }
        &__inner{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 8px;
            margin-bottom: 16px;
        }
        &__item{
            input{
                width: 100%;
                padding: 19px;
            }
            
        }
        &__btn{
            background-color: #C26733;
            cursor: pointer;
            padding-top: 19px;
            padding-bottom: 19px;
            color: white;
        }
        &__checkbox{
            font-size: 16px;
            margin-top: 16px;
            label{
                font-weight: 400;
                font-size: 16px;
                color: white;
            }
        }
    }
    .checkbox{
        &:checked{
            background-color: #C26733;
        }
    }
</style>