---
import Header from "./Header.astro";
import swiper from "swiper/swiper-bundle.css?url";
---

<div class="frontCover">
    <Header />
    <div class="frontCover__container">
        <div class="frontCover__wrapper">
            <div class="frontCover__left">
                <div class="frontCover__info">
                    <h1 class="frontCover__title">
                        Быстровозводимые здания из сэндвич панелей в Саратове
                    </h1>
                    <button class="frontCover__btn">
                        Узнать стоимость
                    </button>
                </div>
            </div>            
            <div class="swiper frontCover__swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/img/Image.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/Image.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/Image.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/Image.jpg">
                    </div>
                </div>

                <div class="swiper-pagination"></div>

                <div class="swiper-button-prev prevElement icon-prev"></div>
                <div class="swiper-button-next nextElement icon-next"></div>

            </div>
         </div>
    </div>
</div>


<script>
    import Swiper from "swiper";
    import { Navigation } from "swiper/modules";

    const swiperEl = document.querySelector('.frontCover__swiper')
    if(swiperEl instanceof HTMLElement){
        
        const swiper = new Swiper(swiperEl, {
        // Optional parameters
        modules: [Navigation],
        slidesPerView:1,
        loop:true,
        navigation: {
            prevEl: '.prevElement',
            nextEl: '.nextElement'
        }
    })
    
    
    
}
</script>
<style is:global lang="scss">
    .frontCover{
        position: relative;
        
        min-height: 100vh;
        &__swiper{
            width: 45%;
            position: relative;
        }
        &__container{
            
            top: 0;
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 100%;
        }
        &__wrapper{
            display: flex;
        }
        &__title{
            font-size: fluid(34px, 56px);
            font-weight: 800;
            color: white;
            line-height: fluid(48px, 70px);
            margin-bottom: 72px;
            text-transform: uppercase;
        }
        &__btn{
            font-size: 18px;
            padding-top: 19px;
            padding-bottom: 19px;
            padding-right: 56px;
            padding-left: 56px;
            background-color: #C26733;
            color: #FFFFFF;
        }
        &__left{
            width: 55%;
            position: relative;
            min-height: 100vh;
            background: url('../../public/img/Backgroound.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__info{
            position: absolute;
            right: 30px;
            top: 30%;
            max-width: calc(687px + (720 - 687)*((100vw - 1200px)/(1920 - 1200)));
            padding-left: 15px;
        }
    }
    .swiper{
        height: 100vh;
        &-slide{

            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .prevElement{
        background-color: #C26733;
        color:#FFFFFF;
        position: absolute;
        width: 70px;
        height: 70px;
        font-size: 17px;
        top:unset;
        bottom: 32px;
        left: 32px;
        &:after{
            display: none;
            
        }
    }
    .nextElement{
        background-color: #C26733;
        color: #FFFFFF;
        position: absolute;
        width: 70px;
        height: 70px;
        font-size: 17px;
        top:unset;
        left: 112px;
        bottom: 32px;
        &:after{
            display: none;
            
        }
}
</style>