---
import Questions from "./Questions.astro";


---

<section class="quiz">
    <div class="quiz__wrapper">
        <h2 class="title">
            Часто задаваемые вопросы
        </h2>
        <div class="quiz__description">
            Мы собрали часто задаваемые вопросы наших клиентов и предоставили развернутые ответы. Если у вас остались вопросы, не стесняйтесь обращаться к нам напрямую.
        </div>
        <Questions />
    </div>
</section>

<script>

</script>

<style is:global lang="scss">
    .quiz{
        @include section;
        
        &__wrapper{
            grid-area:center;
            
        }
        &__title{

        }
        &__description{
            color: #5A5A5A;
            width: 60%;
            margin-top: 24px;
            margin-bottom: 40px;
        }
    }
</style>