---

---
<section class="whyChoose">
    <div class="whyChoose__container">
        <h2 class="title title--clrWhite">
            Почему нас выбирают
        </h2>
        <div class="whyChoose__inner">
            <div class="whyChoose__item">
                <div class="whyChoose__item-icon icon-service-tool">

                </div>
                <p class="whyChoose__item-number">
                    01
                </p>
                <h3 class="whyChoose__item-title">
                    Услуга «под ключ»: от проектирования до монтажа
                </h3>
                <p class="whyChoose__item-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="whyChoose__item">
                <div class="whyChoose__item-icon icon-item2">

                </div>
                <p class="whyChoose__item-number">
                    02
                </p>
                <h3 class="whyChoose__item-title">
                    Гибкая система оплаты
                </h3>
                <p class="whyChoose__item-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="whyChoose__item">
                <div class="whyChoose__item-icon icon-item3">

                </div>
                <p class="whyChoose__item-number">
                    03
                </p>
                <h3 class="whyChoose__item-title">
                    Опыт более 15 лет
                </h3>
                <p class="whyChoose__item-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="whyChoose__item">
                <div class="whyChoose__item-icon icon-item4">

                </div>
                <p class="whyChoose__item-number">
                    04
                </p>
                <h3 class="whyChoose__item-title">
                    Любые формы оплаты: с НДС и без НДС
                </h3>
                <p class="whyChoose__item-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="whyChoose__item">
                <div class="whyChoose__item-icon icon-item5">

                </div>
                <p class="whyChoose__item-number">
                    05
                </p>
                <h3 class="whyChoose__item-title">
                    Работаем с юридическими лицами и частными заказчиками
                </h3>
                <p class="whyChoose__item-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="whyChoose__item">
                <div class="whyChoose__item-icon icon-item6">

                </div>
                <p class="whyChoose__item-number">
                    06
                </p>
                <h3 class="whyChoose__item-title">
                    Гарантия на всю продукцию – 3 года
                </h3>
                <p class="whyChoose__item-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            
        </div>
    </div>
</section>

<style is:global lang="scss">
    .whyChoose{
        @include section;
        background-image: url('img/Benefits.jpg');
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #1F0F06;
        padding-bottom: 120px;
        padding-top: 120px;
        margin-bottom: 120px;
        &__container{
            grid-area: center;
        }
        &__icon{
            
        }
        &__inner{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap:30px;
            margin-top: 40px;
        }
        &__item{
            background-color: white;
            padding-top: 180px;
            padding-left: 24px;
            padding-bottom: 24px;
            padding-right: 24px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &-icon{
                background-color: #FFEFE6;
                width: 100px;
                position: absolute;
                left: 0;
                top: 0;
                height: 100px;
                color: #C26733;
                font-size: 60px;
                text-align: center;
                padding-top: 20px;
            }    
            &-number{
                font-size: 72px;
                
                font-weight: 800;
                color: #F1E2DA;
                margin-bottom: 44px;
            }    
            &-title{
                color: #281D15;
                font-weight: 700;
                margin-bottom: 16px;
            }
        }
    }
</style>